{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Helpdesk Ticket Generation Portal</title>
	<link rel="stylesheet" type="text/css" href='{% static "css/semantic.min.css" %}'>
	<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>
	<script src='{% static "js/semantic.min.js" %}'></script>
</head>
<body style="background-color:#40E0D0;">

	<div class="ui attached stackable menu">
  		<a class="item" href={% url 'index' %}>Home</a>

  		{% if user.is_authenticated %}
	  		<a class="item" href={% url 'tickets:list' %}>List</a>
	  		<a class="item" href={% url 'tickets:create' %}>Create</a>
	  	{% endif %}

  		<div class="right menu">
  			{% if user.is_authenticated %}
  				<a class="ui item" href={% url 'accounts:logout' %}>Logout</a>
  			{% else %}
  				<a class="ui item" href={% url 'accounts:login' %}>Login</a>
  			{% endif %}
  		</div>
	</div>

	<div class="ui container segment">
		{% block content %}
		{% endblock content %}
	</div>

</body>
</html>
